#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  margin: 5%;
}
input:hover {
  border-color: #646cff;
}
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
  margin-top: 1rem;
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
  cursor: pointer;
}